$link_color: #008CBA;
$link_hover_color: #007981;

// Declare all BASE overrides here

html, body {
    height: 100% !important;
    @include font-smoothing($is-on: true);
}

h1,h2,h3 {
    letter-spacing: -1px; // Legibility for currently used embedded font. Remove if using default font.
}

select {
  font-size: 0.9rem !important;
}

th, td {
  select {
    margin: 0 0 0.2rem !important;
  }
  input, a {
    margin: 0 !important;
  }
}

fieldset {
  background-color: #FFF;
  margin: 0 0 1.125rem !important;
  table {
    margin-bottom: 0;
  }
}

.panel table {
  margin-bottom: 0;
}

/*-----------------------]: COMMON :[---------------------------*/

#content-wrapper {
  min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0 auto ($footer-height * -1);
    overflow: hidden;
}

#content_wrapper > *:last-child {
    padding-bottom: $footer-height;
}

.full-width {
  width: 100% !important;
}

#auth_masthead {
  padding: 30px 40px 20px 40px;
}

.brand.logo {
    background: url(workcloud_logo.png) no-repeat 0 0; // fallback png support
    background-image: url(workcloud_logo.svg), none;
    background-size: 200px 40px;
    display: block;
    height: 40px;
    width: 200px;
    text-indent: -9999px;
}

table {
  width: 100%;
}

table.top_aligned {
  td, th {
    vertical-align: top;
  }
}
hr.divider {
  border: 0;
}

.center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.right_actions {
  text-align: right;
  margin: 0 0 0.2rem !important;
}
.right_subactions {
  float: right;
}

.hidden {
  display: none;
}

.sub-nav.tabs {
  margin: 10px 0 10px !important;
  border-bottom: 1px solid #CCC;
  dd {
    margin: 0;
    font-size: 1em;
    a {
      padding: 0.1875rem 1rem;
      @include radius(2px);
      background-color: #F6FAFC;
      color: $link_color !important;
    }
    a:hover {
      color: $link_hover_color !important;
    }
  }
  dd.active {
    a {
      background-color: #888;
      color: #FFF  !important;
    }
    a:hover {
      background-color: #888 !important;
    }
  }
}

.timepicker,
.dateselector {
  white-space: nowrap;
  select {
    width: auto;
    margin: 0;
  }
}

input.cancel, a.cancel {
  margin-left: 20px;
}

td.actions_cell {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
thead .table_actions {
  font-weight: normal;
  font-size: 0.8em;
  select {
    width: auto;
    font-size: 0.9em;
    margin: 0;
  }
  .button {
    margin: 0 0 0 0.5rem;
    padding: 0.6rem 1rem;
  }
}

a.highlight {
  color: #DB5C07;
  border-bottom: 1px dashed #DB5C07;
}

tbody.row_links {
  tr {
    cursor: pointer;
    td {
      color: $link_color  !important;
    }
  }
  tr:hover td {
    color: $link_hover_color !important;
  }
}

.inline_form_actions {
  margin-left: 20px;
}

select.inline {
  width: auto;
}

/*-----------------------]: NOTIFICATIONS :[---------------------------*/
#flash_alert {
    @include radius($radius:$global-radius);
    background: #c91b49;
    color: #fff;
    display: block;
    padding: 10px;
    margin: 0 0 30px 0;
    text-align: center;

}

.top-bar #search_button {
  width: auto;  /* needed to prevent japanese text in button going verticl */
}

/*-----------------------]: BUTTONS :[---------------------------*/



/*-----------------------]: FORMS :[---------------------------*/
.devise-button-lrg {
    margin-top: 20px;
    font-size: $button-devise-lrg;
    font-weight: normal;
    padding-top: 18px;
    padding-bottom: 18px;
}

.devise-input-field {
    @include box-shadow($bshadow: 0 1px 2px rgba(0,0,0,.1));
    border-radius: $global-radius;
    padding: 1em 0.8em !important;
    height: 3.5em !important;
    font-weight: 300;
}

.devise_front_links {
    line-height: 1.5em;
    span {
        display: block;
    }
}

.remember_me {
    font-size: $label-font-sizing;
}

#register_pc {
    position: absolute;
    top: 45px;
    right: 40px
}

th.checkbox,
td.checkbox {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/*-----------------------]: FOOTER :[---------------------------*/

footer {
  color: $tertiary-color;
  font-size: $footer-font-size;
  a {
    color: $tertiary-color;
  }
}

/*-----------------------]: WIZARD :[---------------------------*/
// TODO: Fix conflicts from wc_theme_v1
.wizard-guide {
  display: block;
  .step-first {
  }
  .step-second {
  }
  .step-third {
  }
}


/*-----------------------]: profile :[---------------------------*/
#devise-footer {
    height: $footer-height;
    position: relative;

    ul {
        @include clearfix;
      display: block;
      position: absolute;
      right: 2%;

    li {
        display: block;
        float: left;
        margin-left: 20px;
      }
    }

    .select-lang {
        @include radius($radius:$global-radius);
        @include box-shadow($bshadow:0 1px 2px rgba(0,0,0,.15));
        @include gradient-vertical ($start-color: #ffffff, $end-color: #f5f7fa);
        border: 1px #b8c3ca solid;
        color: $active-link-color;
        padding: 5px 10px;
        text-shadow: 0 1px 0 #fff;
    }
}

#schedule_table {
  .actions {
    font-size: 16px;
    padding-left: 0.2em;
    padding-right: 0.0em;

    a {
      width: 20px;
      display: block;
    }
  }
  tr:hover .actions {
    .add_row {
      background: image-url('add_icon.png') no-repeat center center;
    }
    .remove_row {
      background: image-url('delete.gif') no-repeat center center;
    }
  }
}

.profile_header {
  margin-top: 10px !important;
}


/*-----------------------]: profile tabs :[---------------------------*/
nav.profile-nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      float: left;
      margin: 0 2px;
      padding: 0
      a {
        display: block;
        float: left;
        padding: 2px 10px;
      }
    }
  }
}

/*-----------------------]: invitations :[---------------------------*/
.invitations.new {
  textarea {
    height: 200px;
  }
}

.instructions {
  margin-bottom: 20px;
}

.confirm_invitations {
  td.status {
    span {
      padding-left: 25px;
    }
    .new {
      background: image-url('accept.png') no-repeat left center;
    }
    .existing {
      background: image-url('delete_grey.gif') no-repeat left center;
    }
  }
}

/*-----------------------]: banks :[---------------------------*/
.banks {
  .status {
    padding-left: 0;
    padding-right: 0;
    .is_main {
      background: image-url('accept.png') no-repeat center center;
    }
  }
}

/*-----------------------]: sidebar :[---------------------------*/
.side-nav {
  li {
    a, span {
      padding: 0px 5px;
    }
  }
  li.active {
    a {
      background-color: #EEE;
    }
  }
  li.header {
    font-weight: bold;
    color: #667;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
  }
}

/*-----------------------]: timesheet_entry :[---------------------------*/
.timesheet_entry {
  .timepicker {
    text-align: center;
    select {
      padding: 0.2rem;
      margin: 0 0 0.5rem;
    }
  }
  .button.tiny {
    margin: 0;
    padding: 10px 20px;
  }
}

tr.total {
  td {
    border-top: 2px solid #CCC;
  }
}

.timesheet {
  .month_list {
    td.check_in_out {
      text-align: center;
    }
  }
}
