// Additional prep @mixins formulas

@mixin background-size($bg-size){
  -webkit-background-size: $bg-size;
     -moz-background-size: $bg-size;
       -o-background-size: $bg-size;
          background-size: $bg-size;
}

@mixin gradient-vertical($start-color, $end-color) {
    background-color: $start-color;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from($start-color), to($end-color)); // Konqueror
    background-image: -moz-linear-gradient(top, $start-color, $end-color); // FF 3.6+
    background-image: -ms-linear-gradient(top, $start-color, $end-color); // IE10
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(100%, $end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $start-color, $end-color); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $start-color, $end-color); // Opera 11.10
    background-image: linear-gradient(top, $start-color, $end-color); // The standard
}

@mixin box-shadow($bshadow:0 1px 2px rgba(0,0,0,.1)) {
  -webkit-box-shadow: $bshadow;
     -moz-box-shadow: $bshadow;
          box-shadow: $bshadow;
}

@mixin opacity($opacity-value: 1) {
    $ms-value: $opacity-value * 100;
    opacity: $opacity-value;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms-value)";
    filter: alpha(opacity=$ms-value);
}

@mixin font-smoothing($is-on) {
  @if $is-on == true {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
  }
  @else {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
  }
}

@mixin custom-font {
    @include helvetica {
        font-family: "Helvetica Neue", "Helvetica",  Helvetica, "Hiragino Kaku Gothic Pro", Arial, sans-serif;
    }

    @include hiragino {
      font-family: "Hiragino Kaku Gothic Pro", Arial, sans-serif;
    }

    // @include helvetica-light {
    //  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   	// 	font-weight: 300;
    // }
}

/*
	// Reference @mixins from Foundation: http://foundation.zurb.com/docs/components/global.html
		– @mixin inset-shadow($active:true);
		– @mixin radius($radius:$global-radius);
		– @mixin side-radius($side, $radius);
		– @mixin @mixin single-transition($property:all, $speed:300ms, $ease:ease-out);
		– @mixin box-sizing($type:border-box);
		– @mixin css-triangle($triangle-size, $triangle-color, $triangle-direction);
		– @mixin clearfix();
		– @mixin block-glowing-effect();
*/


